@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Noto+Sans+Mono:wght@500&display=swap');

:root {
    --main-font: 'Noto Sans Mono';
    --header-font: 'Bebas Neue';
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--main-font);
    font-size: 18px;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}



input,
label,
button {
    font-size: 100%;
    font-family: inherit;
    appearance: none;
}

input,
button,
form {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
}

label {
    font-family: var(--label-font);
    font-size: 0.8rem;
    color: grey;
}

img {
    height: 100vh;
    width: 40vw;
    object-fit: cover;
}


.main {
    display: flex;
}

.heading {
    font-family: var(--header-font);
    font-size: 4rem;
    font-weight: 900;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.4rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: white;
}

.main-form {
    display: flex;
    flex-direction: column;
}

.main-form>div {
    display: flex;
    gap: 0.8rem;
}

.main-form>div>div {
    display: flex;
    flex-direction: column;
}