@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');

:root {
    --main-font: 'Inter', sans-serif;
    --header-font: 'Bebas Neue', sans-serif;
    --border-color: rgb(233, 233, 233);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--main-font);
    font-size: 18px;
    box-sizing: border-box;
}

body {
    background-color: rgb(246, 246, 246);
}



input,
label,
button {
    font-size: 100%;
    font-family: inherit;
    appearance: none;
}

input,
button,
form {
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

label {
    font-family: var(--main-font);
    font-size: 0.8rem;
    color: grey;
}

img {
    height: 100vh;
    width: 40vw;
    object-fit: cover;
}


.main {
    display: flex;
}

.heading {
    font-family: var(--header-font);
    font-size: 6.5rem;
    font-weight: 900;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.4rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: white;
}

.main-form {
    display: flex;
    flex-direction: column;
}

.main-form>div {
    display: flex;
    gap: 0.8rem;
}

.main-form>div>div {
    display: flex;
    flex-direction: column;
}

.button-wrapper {
    margin: 2rem 0rem;
}

#submit {
    background-color: dodgerblue;
    font-family: var(--main-font);
    font-size: 1rem;
    color: whitesmoke;
    padding: 10px;
}